@model IEnumerable<PetApp_Empresa.Models.Accesorio>

@{
    ViewData["Title"] = "Tienda de Accesorios";
}

<h1>Tienda de Accesorios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDisponible) <!-- Nueva columna -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendedor.UsuarioId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadDisponible) <!-- Mostrar cantidad disponible -->
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AccesorioId" class="btn btn-sm btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.AccesorioId" class="btn btn-sm btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.AccesorioId" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
