@model IEnumerable<PetApp_Empresa.Models.CarritoAccesorio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accesorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Accesorio.AccesorioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrito.CarritoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarritoAccesorioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarritoAccesorioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarritoAccesorioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
