@model PetApp_Empresa.Models.Donacione

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Donacione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDonacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDonacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refugio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refugio.RefugioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DonacionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
