@model IEnumerable<PetApp_Empresa.Models.Donacione>

@{
    ViewData["Title"] = "Donaciones Realizadas";
}

<link rel="stylesheet" href="~/css/donaciones.css" />

<div class="text-center mb-4">
    <h1 class="display-4">Donaciones Realizadas</h1>
</div>

<div class="text-center mb-4">
    <a asp-action="Create" class="btn btn-success btn-lg">¡Realiza una Nueva Donación!</a>
</div>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Monto</th>
            <th>Fecha de Donación</th>
            <th>Refugio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Monto.ToString("C")</td>
                <td>@item.FechaDonacion?.ToString("dd/MM/yyyy")</td>
                <td>@item.Refugio.Nombre</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DonacionId" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.DonacionId" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.DonacionId" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
